.game-title{
  text-align: center;
}



.start{
  max-width: 1024px;
  width: 400px;
  height: 190px;
  background-color: black;
  position: relative;
  top:80px;
  left:36%;
  border: 1px solid yellow;
}
.button-style{
  width: 250px;
  height:40px ;
  color: aliceblue;
  background-color: lightgrey;
  position: absolute;
  top:40%;
  left:20%;
  
}
#done-button{
position: relative;
right: 10%;
}

.hidden-container, .score-board{
  display: none;
}

#timer{
  font-size: 70px;
  z-index: 1000;
  left: 84.2%;
  bottom: 80%;
  position: fixed;
  letter-spacing: 3px;
}

.clock{
position: fixed;
left: 80%;
bottom: 70%;

}



.tvDesign{
  width: 420px;
  height: 290px;
  position: relative;
  left: 35%;
  top: 40px;
}

.question{
  position: relative;
  left: 32%;
  top: 38px;
  font-size: 13px;
}

.tv1 p{
  position: relative;
  left: 32%;
  top: 38px;
  font-size: 13px;
}